@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans:wght@400;700&family=Orbitron&family=Poppins:wght@400;500;700&family=Sedgwick+Ave&display=swap');


body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calc{    
    width: 225px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(218, 218, 218);
}

.divisoria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    height:2px;
    border-radius: 1px;
    width: 100%;
    background-color: rgba(175, 175, 175, 0.7);
}

.display > p{
    margin-bottom: 5px;
    background: rgb(141,207,164);
    background: linear-gradient(0deg, rgba(141,207,164,1) 0%, rgba(70,70,70,1) 100%);
    max-width: 215px;
    font-family: Orbitron;
    border-style:inset;
    border-radius: 20px;
    padding-right: 5px;
    line-height: 48px;
    min-height: 50px;
    text-decoration: none;
    font-size: 20pt;
    background-color: aliceblue;
    text-align: right;
}

.botoes{
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.botoes #btn-equal{
    grid-column: 4;
   grid-row: 4/6;
}

.botoes #btn-zero{
    grid-column: 1/3;
}

.botao{
    color: rgb(85, 85, 85);
    font-weight: bold;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;    
    border-style: solid black;
    border-width: 1.5px;
    min-width: 50px;
    min-height: 50px;
}

#clean{
    text-shadow: 0px 1px 2px black;
    font-style: bold;
    background-color: rgb(141,207,164);
    color:rgb(219, 219, 219);
}

#clean:hover{
    background-color: rgb(99, 145, 115);

}

.botao:hover{
    background-color: rgb(189, 189, 189);
}